@font-face {
	font-family: 'fira_coderegular';
	src: url('./FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	background: #16191B;
	color: #A9BACB;
	margin:0em;
	font-size: 12px;
	overflow:hidden;}

#main{
	display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.7s;
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
}

background{
	/*display: block;*/
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
	height:300%;
}

slide{
	display:block;
	box-sizing:border-box;
	margin:2%;
	width:96%;
	height:32%;
	padding:3%;
	overflow:hidden;
}

slide.frame{
	font-size:2.5em;
	border: 0.5em dashed rgba(255, 255, 255, 0.32);
	padding:0em 4em;}

slide.frame.markdown{
	font-family:verdana;
	color:white;}

slide.frame.markdown > *{
	margin:0.5em 0em;
}

slide.frame.markdown h1, slide.frame.markdown h2, slide.frame.markdown h3{
	margin-top:0.8em;
	text-align:center;
	font-family:verdana;
	text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.6); 
}

slide.markdown h1{color:yellow; font-size:3em;}
slide.markdown h2{color:cyan;}
slide.markdown h3{color:lime;}

slide.markdown img{vertical-align: middle;}

slide.markdown blockquote{
	margin: 0em 0em 0em 2em;
    background: rgba(0,0,0,0.5);
    padding: 0.1em 0em 0.1em 2em;
    border-radius: 0.5em;
}

slide.markdown ul{
	font-size:1em;
	list-style:none;}


slide.markdown ul li:before{
	position:absolute;
	line-height:0.5em;
	font-size:1.77em;
	margin: -0.2em 0em 0em -0.8em;
}

slide.markdown ul li:before {
    content: "\21B3";
    color: yellow;
}

slide.markdown ul li:nth-child(1):before {
	margin: -0.0em 0em 0em -1.04em;
	font-size:1.75em;
    content: "\21AC";
}

slide.markdown ul li:last-child:before {
	margin: -0.2em 0em 0em -0.8em;
    content: "\21B3";
}

slide.markdown ul > li ul {
	margin:0.5em 0em;
}

slide.markdown ul > li ul li:before{
	color:orange;
}


slide iframe{
	width:100%;
	height:100%;
	background:transparent;
	border:none;
	border-radius:2em;
}



::selection {
	background: #61295A;
	color: #95F7D1;}

slide.code{
	padding:0em;
}

slide pre{
	font-family: 'fira_coderegular',  monospace;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: contextual;
	-webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
	font-size:1.5em;
	position:relative;
	width:80%;
	float:right;
	overflow-y:auto;
	height:100%;
	background: rgba(0,0,0,0.6);
	padding:1em;
	box-sizing:border-box;
	margin:0em;

}

canvas, .minimap{
	transform-origin: 0% 0%;
	transform:scale(2.0); 
	image-rendering: pixelated;
	background: rgba(0,0,0,0.3);
	border-left: 6px solid black;
	position: relative;
	float:left;
	padding: 2px;
	margin-left: -2%;}