@font-face {
	font-family: 'fira_coderegular';
	src: url('./FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	background: #16191B;
	color: #A9BACB;
	margin:0em;
	font-size: 12px;
	overflow:hidden;}

#main{
	display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.7s;
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
}

background{
	/*display: block;*/
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
	height:300%;
}

slide{
	display:block;
	box-sizing:border-box;
	margin:2%;
	width:96%;
	height:32%;
	padding:3%;
	overflow:hidden;
}

slide iframe{
	width:100%;
	height:100%;
	pointer-events:none;
	background:transparent;
	border:none;
	border-radius:2em;
}

slide.frame{
		border: 1em dashed rgba(255, 255, 255, 0.32);
	padding:8em;
	text-align:center;
}

slide.frame *{
	font-size:8em;}

::selection {
	background: #61295A;
	color: #95F7D1;}

slide.code{
	padding:0em;
}

slide pre{
	font-family: 'fira_coderegular',  monospace;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: contextual;
	-webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
	font-size:1.5em;
	position:relative;
	width:80%;
	float:right;
	overflow-y:auto;
	height:100%;
	background: rgba(0,0,0,0.3);
	padding:1em;
	box-sizing:border-box;
	margin:0em;

}

canvas, .minimap{
	transform-origin: 0% 0%;
	transform:scale(2.0); 
	image-rendering: pixelated;
	background: rgba(0,0,0,0.3);
	border-left: 6px solid black;
	position: relative;
	float:left;
	padding: 2px;
	margin-left: -2%;}