@font-face {
	font-family: 'fira_coderegular';
	src: url('./FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	background: #16191B;
	color: #A9BACB;
	margin:0em;
	font-size: 12px;
	overflow:hidden;}

#main{
	display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.7s;
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
}

slide{
    /*transition: zoom 0.2s;*/
	position:absolute;
	display:block;
	box-sizing:border-box;
	width:100%;
	height:100%;
	padding:3%;
	overflow:hidden;
}

#main.overview slide{
	border: 2em solid rgba(255,255,255,0.2);
	/*background:none;*/
}

/*#main.overview slide > * > * > *{display:none;}*/

slide.near {
	outline:  none;
}

slide{
	padding:0em 4em;}

slide.img{
	padding:2em;
	border:none;
	
	display:flex;
	flex-direction:row;
	flex-flow:wrap;
	align-items:center;
	justify-content:space-around;
}
slide.img div{
	box-sizing:border-box;
	/*padding:2%;*/
	/*border:1em solid red;*/
	flex: 10 200 auto;


}

slide.img img{
	display:block;
	margin:0em auto;
	max-height:auto;
	max-width:100%;
}

slide.img.gif img{
	image-rendering: pixelated;
	width: initial !important;
}

slide.img.gif{
	zoom:2.0;
}

slide.markdown{
	font-size:2.5em;
	font-family:verdana;
	color:white;}

slide.frame.markdown {
	margin:0.5em 0em;
}

slide.markdown p,
slide.markdown blockquote{
	margin:0.2em 0em;
}

slide.markdown h1, slide.markdown h2, slide.markdown h3{
	margin-top:0.8em;
	text-align:center;
	font-family:verdana;
	margin:0.4em 0em;
	clear:both;
}

slide.markdown pre{
	margin:0em;
	clear:both;
}

slide.markdown h1{color:yellow; font-size:2.7em;}
slide.markdown h2{color:cyan;}
slide.markdown h3{color:lime;}

slide.markdown li{
	margin-bottom:0.3em;
}

slide.markdown code{
	    font-family: 'fira_coderegular', monospace;
    background: rgba(0,0,0,0.5);
    padding: 0.1em 0.1em;
    border-radius: 0.2em;

    font-size: 0.8em;
    line-height: 1.3em;
}

slide.markdown pre code{
	    display: block;
	        padding: 0.5em;
}

slide.markdown blockquote{
	margin: 0em 0em 0em 0em;
    background: rgba(0,0,0,0.2);
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    margin-bottom:0.5em;
}


slide.markdown h1 img{
	max-width:100%;
}

slide.markdown p img{
	margin:2% 0% 2%;
	width:44%;
}

slide.markdown img{vertical-align: middle;}

slide.markdown hr {
	margin:0em;
	border-style:none;
	display: none;
	width:0em;
	float:left;
	clear:both;}


slide.markdown hr + *{
	box-sizing:border-box;
	display:inline-block;
	float:left;
	width:48%;
	margin-left:1%;
	clear:none;
}
slide.markdown hr + * + * {
	box-sizing:border-box;
	display:inline-block;
	float:right;
	width:48%;
	clear:none;
}


slide iframe{
	width:100%;
	height:100%;
	background:transparent;
	border:none;
	border-radius:2em;
}


slide.slideshow span.nav{
	position: absolute;
    font-size: 1em;
    font-family: monospace;
    left: 0em;
    top: 0em;
        white-space: pre;
    line-height: 1em;
}

slide.slideshow img{
	transition: opacity 0.1s;
	opacity:0;
}

slide.slideshow img.gif{
		image-rendering: pixelated;
		width: initial !important;
		transform: scale(2.0);
}

slide.scroll{overflow-y:auto;}


::selection {
	background: #61295A;
	color: #95F7D1;}

slide.code{
	padding:0em;
	background: rgba(0,0,0,0.6);
	z-index: -1;
	zoom:1.2;
}

slide pre{
    font-family: 'fira_coderegular', monospace;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: contextual;
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
}

slide.code pre{
	font-size: 14px;
	line-height:18px;
	font-weight:bold;
    margin: 0em;
    padding-right: 10em;
    overflow-x: auto;
    position: relative;
    width: 100%;
    float: right;
    overflow-y: auto;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    overflow-x:hidden;

}


slide.code img{
/*	transform-origin: 0% 0%;
    transform: scale(1.0);*/
    /*image-rendering: pixelated;*/
    background: rgba(0,0,0,1);
    border: 0.5em solid #2E1C14;
    border-width:0em 0em 0em 0.5em;
    position: absolute;
    right: 0px;
    width:9em;
    box-sizing:border-box;
    top: 0px;
    height:100%;
    bottom:0px;
    padding: 0.2em;
    margin-left: -2%;
    z-index: -1;}

slide.code h1{
	color:orange; font-size:5em; text-align:center;
	font-family:consolas;
}


slide.markdown code pre{
	    background: rgba(0,0,0,0.5);
}


slide > *{display:none !important;}
#main.overview slide > *,
slide.near > *{display:inherit !important;}

#main.overview slide.cursor{
	border-color: orange;
}



#background{
	position: fixed;
	width:100%;
	height:100%;
	background: linear-gradient(#345D66, #010514);

}

slide.markdown.near{
	    /*background: linear-gradient(#345D66, #010514);*/
}

indent{
    background-image: url(../img/line.png);
     background-size: 1.25em;
    /* background-blend-mode: multiply; */
    /*background-color: black;*/
    opacity: 0.2;
    background-position-x: 0.6125em;
    display: inline;
}

ws{

}

slide.scroll {padding:0em 3em;}

#main slide.markdown > style{display:none !important;}

video{margin: 1em auto;
	display:block;}

/*
.backtick exp atom,
.backtick exp ws,
.backtick exp open,
.backtick exp close{
 background: #3B2323;
 border-radius:1em;
}

.tilde exp atom,
.tilde exp ws,
.tilde exp open,
.tilde exp close{
 background: #334D34;
}

.backtick > exp > open:first-child{
    border-radius: 1em 0em 0em 1em;
}

.backtick > exp > close {
    border-radius: 0em 1em 1em 0em;
}

.tilde > exp > open:first-child,
indent + exp > open:first-child{

    border-radius: 1em 0em 0em 1em;
}
.tilde > exp > close {
    border-radius: 0em 1em 1em 0em;
}

.backtick indent + exp > open:first-child{
	border: 1px solid red;
}

*/



::-webkit-scrollbar {
  width: 7.8em;
  height: 4em;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border: 0.5em solid rgba(252, 255, 0, 0.4);
  border-width:0em 0em 0em 0.5em;
  box-sizing:border-box;

}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-track:hover ::-webkit-scrollbar-thumb {

    border: 0.5em solid #FCFF00;
      border-right-width:0em;
        border-width:0em 0em 0em 0.5em;
    }
::-webkit-scrollbar-thumb:active {

}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-track:hover {
		cursor:pointer;
}
::-webkit-scrollbar-track:active {

}
::-webkit-scrollbar-corner {
  background: transparent;
}



div.cache {width:100%;
height:100%;}